.main-blog{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 30px 0;
}
.main-blog .blog-section {
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 15px;
    box-shadow: 0px 4px 10px 3px #00000054;
}
.main-blog .blog-section img{
    width: 100%;
    border-radius: 10px;
    transition: .5s;
    height: 200px;
}
.main-blog .blog-section img:hover{
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgb(7 10 25 / 25%);
    filter: brightness(1.07);
    transform: translate(0,-2px);
}
.main-blog .blog-section h2{
    font-size: 20px;
    margin: 20px 0;
    transition: .5s;
}
.main-blog .blog-section h2:hover{
    text-decoration: underline;
}
.main-blog .author-details{
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.main-blog .author-details img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.main-blog .author-details .img_user{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px; 
}

@media screen and (max-width: 1100px) {
    .main-blog .blog-section h2{
        font-size: 18px;
    }
}
@media screen and (max-width: 1024px) {
    .main-blog{
        grid-template-columns: repeat(2, 1fr);
    }
    .main-blog .blog-section img{
        height: 250px;
    }
    .main-blog .author-details img{
        height: 60px;
    }
}
@media screen and (max-width: 776px) {
    .main-blog{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-blog .blog-section h2{
        font-size: 20px;
    }
    .main-blog .blog-section img{
        height: auto;
    }
}