@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

@media screen and (max-width: 776px) {
  .container{
    padding: 0 30px;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
